.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.inicio{
    grid-column: 1/6;
    background-color: rgb(185, 85, 235);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.treinos{
    display: flex;
    gap: 120px;
    margin-left: 15%;
}

h2{
    text-align: center;
}

.topo{
    font-size: 23px;
    color: white;
}

a:hover{
    color: black;
}

#voltar{
    font-size: 18px;
}