body {
  background-color: #4B0082;
}


.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  align-content: center;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
  gap: 50px;
  width: 70%;
  margin-left: 12%;
  margin-top: 7%;
  background-color:	#E6E6FA;
}

.form{
  margin-bottom:25px;
}


label {
  display: block;
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, p{
  font-family: Arial, Helvetica, sans-serif;
}


input {
  width: 100%;
  padding: 10px;
  border: 1px solid #a5a4a4;
  border-radius: 4px;
}


/* na hora q eu clicar pra digitar email e senha*/
input:focus {
  outline:auto; /* aqui minha borda ganha destaque, fica mais preto */
}


button {
  background-color: hsla(263, 83%, 55%, 0.952);
  padding: 10px 35px;
  border: none;
  border-radius:45px;
  cursor: pointer;
}


button:hover {
  background-color: #9c66f4;
}


.celular{
  width: 40%;
}


.dir{
  width: 50%;
  margin-top: 5%;
}


a{
  margin-left: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
}
